# [把之前的完整配置粘贴在这里]
run_type = "staged_learning"
device = "cuda:0"
tb_logdir = "tb_scaffold_FINAL"
json_out_config = "_scaffold_FINAL.json"

[parameters]
summary_csv_prefix = "denv_scaffold_FINAL"
use_checkpoint = false
purge_memories = false
prior_file = "priors/denv_ultra_clean_model.model"
agent_file = "priors/denv_ultra_clean_model.model"
batch_size = 64
unique_sequences = true
randomize_smiles = true

[learning_strategy]
type = "dap"
sigma = 120
rate = 0.0001

[diversity_filter]
type = "IdenticalMurckoScaffold"
bucket_size = 25
minscore = 0.4
minsimilarity = 0.4

[inception]
smiles_file = "data/denv_scaffolds_training.smi"
memory_size = 100
sample_size = 10

[[stage]]
max_score = 0.75
min_steps = 500
max_steps = 1500
chkpt_file = "denv_scaffold_FINAL.chkpt"

[stage.scoring]
type = "geometric_mean"

[[stage.scoring.component]]
[stage.scoring.component.MatchingSubstructure]
[[stage.scoring.component.MatchingSubstructure.endpoint]]
name = "Pyrrolidine_Scaffold"
weight = 0.6
[stage.scoring.component.MatchingSubstructure.endpoint.params]
smarts = "c1ccccc1C1CNCC1"
use_chirality = false

[[stage.scoring.component]]
[stage.scoring.component.MatchingSubstructure]
[[stage.scoring.component.MatchingSubstructure.endpoint]]
name = "Cyclobutane_Scaffold"
weight = 0.6
[stage.scoring.component.MatchingSubstructure.endpoint.params]
smarts = "c1ccccc1C1CCC1"
use_chirality = false

[[stage.scoring.component]]
[stage.scoring.component.QSARScorer]
[[stage.scoring.component.QSARScorer.endpoint]]
name = "DENV_Activity"
weight = 0.4
[stage.scoring.component.QSARScorer.endpoint.params]
model_path = "/mnt/c/Users/ucsaheu/python_projects/DENV_Drug_Discovery/02_ML_Modeling/models/random_forest_champion.joblib"
[stage.scoring.component.QSARScorer.endpoint.transform]
type = "double_sigmoid"
low = 5.0
high = 8.0
coef_div = 8.0
coef_si = 10.0
coef_se = 10.0

[[stage.scoring.component]]
[stage.scoring.component.Qed]
[[stage.scoring.component.Qed.endpoint]]
name = "QED"
weight = 0.2

[[stage.scoring.component]]
[stage.scoring.component.SAScore]
[[stage.scoring.component.SAScore.endpoint]]
name = "SA"
weight = 0.2
[stage.scoring.component.SAScore.endpoint.transform]
type = "reverse_sigmoid"
low = 1.0
high = 6.0
k = 1.0

[[stage.scoring.component]]
[stage.scoring.component.MolecularWeight]
[[stage.scoring.component.MolecularWeight.endpoint]]
name = "MW"
weight = 0.2
[stage.scoring.component.MolecularWeight.endpoint.transform]
type = "double_sigmoid"
low = 250.0
high = 450.0
coef_div = 450.0
coef_si = 20.0
coef_se = 20.0

[[stage.scoring.component]]
[stage.scoring.component.CustomAlerts]
[[stage.scoring.component.CustomAlerts.endpoint]]
name = "Alerts"
weight = 0.3
[stage.scoring.component.CustomAlerts.endpoint.params]
smarts = ["[*;r8]", "[*;r9]", "[*;r10]", "[#8][#8]", "[#6;+]", "C#C"]
